body{
    margin: 0 auto;
}
.section_1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../StepProject/images/bgtop.png");
    min-width: 1200px;
    width: 100%;
}
header {
    background-color: rgba(73, 71, 63, 0.6);
}
.navBar{
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
}
.navBar a{
    display: flex;
    align-items: center;
}
.letterH{
    position: relative;
    left: -42px
}
.theHam{
    position: relative;
    left: -15px
}
.navList{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navList li{
    position: relative;
    margin: 11px;
}
.navList a{
    color: #b8b8b8;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.navList li a:hover{
    color: #18cfab;
}
.navList li:hover::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #18cfab;
    width: 100%;
    left: 0;
    bottom: -54px;
}
.fa{
    position: relative;
    top: 50px;
    right: 90px;
    color: #b8b8b8;
}
.container{
    margin: 0 auto;
    max-width: 1160px;
}
.mainText{
    display: flex;
    height: 892px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
}
.creative{
    color: #FFFFFF;
    font-size: 79px;
    font-weight: 700;
}
.intro{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
}
.intro2{
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
}
.introClosing{
    font-size: 34px;
    font-weight: 300;
    color: #d4d4d4;
}
.topButtons1{
    padding-top: 142px;
}
.topButtons1 button, .topButtons2 button{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    border-top: 5px solid #FFFFFF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 26px;
    border-radius: 5px;
}
.exploreButton{
    margin-right: 14px;
    background-color: #18cfab;
}
.exploreButton:hover{
    border-color: #18cfab;
    background-color: rgb(31, 218, 181);
}
.purchaseButton{
    margin-left: 14px;
    background-color: #00cbf6;
}
.purchaseButton:hover{
    border-color: #00cbf6;
    background-color: rgb(20, 185, 213);
}
.fourBlocks{
    display: flex;
    justify-content: center;
    height: 374px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
 }
.blackBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}
.greenBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    background-color: #18cfab;
    color: #FFFFFF;
    border-top: 7px solid #FFFFFF;
}
.inside{
    margin-top: 48px;
}
.inside2{
    margin-top: 70px;
}

.section_2{
    min-width: 1200px;
    width: 100%;
}
.blockTitles,
.blockTitles_2{
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
}
.blockTitles::after{
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 76px;
    top: 23px;
    left: 80px;
    background: #18cfab;
}
.blockTitles::before{
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 76px;
    top: 63px;
    left: 65px;
    background: #18cfab;
}
.ourServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
}
.ourServices__caption {
    display: flex;
    flex-direction: row;
}
.ourServices__caption li{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    width: 192px;
    height: 72px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    content: '';
    border: 1px solid #ececec;
    cursor: pointer;
}
.active{
    background: #18cfab;
}
.ourServices__content {
    display: none;
}
.ourServices__content.active {
    display: block;
    background: none;
}
/*.ourServices__caption:hover::after li {*/ /*это треугольничек, только куда его ставить?!*/
    /*content: '';*/
    /*position: absolute;*/
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    /*top: 72px;*/
    /*border: 10px solid transparent;*/
    /*border-top: 10px solid #18cfab;*/
/*}*/

.ourServices img{
    position: relative;
    top: 100px;
    right: 339px;
}
.ourServices span{
    position: relative;
    top: -25px;
    right: 312px;
}
.loremIpsum{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    margin-left: 20px;
}
.bgSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 103px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../StepProject/images/BG.png");
    width: 100%;
    height: 474px;
    font-family: Montserrat, sans-serif;
}
.bgTextH1{
    font-size: 40px;
    font-weight: 700;
    color:  #18cfab
}
.bgTextH2{
    margin-top: 35px;
    font-size: 16px;
    font-weight: 400;
    color:  #d8d8d8;
}
.topButtons2 {
    margin-top: 80px;
}
.ourAmazingWork{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 97px;
    max-width: 1160px;
}
.blockTitles_2::after{
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 76px;
    top: 23px;
    left: 142px;
    background: #18cfab;
}
.blockTitles_2::before{
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 76px;
    top: 63px;
    left: 130px;
    background: #18cfab;
}
.amazingWorkContent{
    display: flex;
    margin: 0 auto;
    height: 128px;
    max-width: 563px;
}
.amazingWorkContentBar{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 69px;
    padding: 22px 16px 22px 16px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    border: 1px solid #ececec;
    cursor: pointer;
}